<select (change)="toggleLanguage($event)">
  <option value="en">en</option>
  <option value="de">de</option>
  <option value="nl">nl</option>
</select>
<p>
  <span *ngIf="isLocaleLoading|async">LOCALES LOADING</span>
</p>
<div>{{ 'HELLO' | translate: param }}</div>
<a routerLink="/">home</a>
<br/>
<a [routerLink]="['/', 'ROUTES.PRODUCTS' | translate]">{{ 'ROUTES.PRODUCTS' | translate}}</a>

<router-outlet></router-outlet>

<hr/>
<h3>dynamic component loading</h3>
<button type="button" (click)="loadComponent('banner')">Load banner</button>
<button type="button" (click)="loadComponent('paragraph')">Load paragraph</button>



<div #testOutlet></div>
